.container {
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-around;
  margin-right: 6%;
  padding: 5%;
}

.imgCard {
  height: auto;
  max-height: 150px;
  max-width: 200px;
  width: auto;
}
