body {
  padding: 5%;
}

.container {
  background-color: rgb(94 11 29);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
  padding: 5%;
}

.filter {
  background-color: rgb(94 11 29);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  font-family: Inknut Antiqua , serif;
  font-style: italic;
  font-weight: 800;
  justify-content: space-around;
  margin-bottom: 5%;
  padding: 5%;
}

.inputFilter {
  margin-left: 10px;
}
